@import url("components/cards.css");
@import url("components/avatar.css");
@import url("components/bars.css");

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #95ADB6;
  background-color: rgb(248,248,255);
  line-height: 20px;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}

.container {
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.btn_pink {
  color: white;
  background-color: #DB5461;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
}

.small_box {
  text-align: center;
}

ul {
  padding: 0;
  margin: 0;
}

