
.box {
  background-color: #fff;
  width: 80%;
  margin: 20 auto;
  text-align: center;
  padding: 5 70 10 70;
  box-shadow: 3px 3px 3px rgba(200, 200, 200, 0.1);
  transition: 0.3s;
}

.box:hover {
  box-shadow: 3px 3px 3px rgba(200, 200, 200, 0.3)
}

h1 {
  color: #DB5461;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

h3 {
  color: #95818D;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: rgb(110,127,128);
  transition: 0.3s;
}
a:hover {
  color: #000;
}


